h2 {
    margin: 10px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 300px; /* must be set */
    left: 300px; /* must be set */
}

#list-selected {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    overflow-y: auto;
}

#list-all {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    overflow-y: auto;
}